/* HOJA DE ESTILOS DEL PLUGIN ESTANDARES INICIALES */

html {
    box-sizing: border-box;
    font-size: 62.5%; /* Establecemos que -> 10px = 1rem */
}
body {
    font-size: 16px; 
    font-size: 1.6rem; 
    line-height: 2;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    margin: 1rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.8rem;
}
h3 {
    font-size: 2.6rem;
}
h4 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}